version: "2"

services:
  kafka:
    image: docker.io/bitnami/kafka:3.7
    container_name: my-kafka-sasl-container  # 在这里指定容器名
    ports:
      - "19092:9092"  # 修改为映射到外部19092端口
    volumes:
      - "kafka_data:/bitnami"
      - "./kafka_server_jaas.conf:/opt/bitnami/kafka/config/kafka_server_jaas.conf"
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      
      # Listeners - 修改为SASL_PLAINTEXT
      - KAFKA_CFG_LISTENERS=SASL_PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=SASL_PLAINTEXT://127.0.0.1:19092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,SASL_PLAINTEXT:SASL_PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=SASL_PLAINTEXT
      
      # SASL/PLAIN settings
      - KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN
      - KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      
      # 用户认证配置
      - KAFKA_CLIENT_USERS=kafkauser
      - KAFKA_CLIENT_PASSWORDS=Kedacom#321
      
      # JAAS 配置
      - KAFKA_OPTS=-Djava.security.auth.login.config=/opt/bitnami/kafka/config/kafka_server_jaas.conf

volumes:
  kafka_data:
    driver: local